nav{
    color: #F5EDCE;
    margin: 10px;
    background: #9D3C72;
    padding: 15px;
}
.Columnas{
    color: #F56EB3;
    background: #82C3EC;
    padding: 15px;
    width: 20%;
    margin: 10px 70px; 
    /* width: Esto es el ancho del texto o lo que quieras que sea; */
}
.Padre{
    display: flex;
}
