/* PRIMERA BARRA DE NAVEGACION */
.nav-enlace{
    display: inline-block;
    /* display: inline-block; se ocupa en linea de bloques para trabajar mejor con el flexbox; */
    background: #FFB100;
    color: seashell;
    padding: 10px;
    text-decoration: none;
    /* text-decoration: none; Esto hace que los links no tengan el subrayado.  */
}
.nav-enlace:hover{
    background: #F0ECCF
}
nav{
    background: #FD8A8A;
    padding: 25px;
}
/* SEGUNDA BARRA DE NAVEGACION */
.nav-ejemplo{
    margin-top: 50px;
    display: inline-block;
    background: #F5D5AE;
    color: black;
    padding: 15px;
    text-decoration: none;
}
.nav-ejemplo:hover{
    background: #f0dec8;
}
#Unico{
    background: #0E5E6F;
    display: flex;
    justify-content:end
}
.nav-ejemplo2{
    margin-top: 50px;
    display: inline-block;
    background: #FBFACD;
    color: aqua;
    padding: 20px;
    text-decoration: double;
}
.nav-ejemplo2:hover{
    background: #BA94D1;
}
#Unico2{
    background: #3A8891;
    display: flex;
    justify-content: space-around;
}