.nav-enlace{
    display: inline-block;
    background: #FFB100;
    color: seashell;
    padding: 10px;
    text-decoration: none; 
}
.nav-enlace:hover{
    background: #F0ECCF
}
nav{
    background: #FD8A8A;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}
.nav-button{
    background: #FFB100;
    color: seashell;
    padding: 10px 0px;
    border: 2px solid #fff;
    display: none;
    /* El display none es para que desaparezca el boton. Para que aparezca antes de por ejemplo 600px se utiliza al @media colocando su etiqueta correspondiente y se lo pone con el display: unline-block */
}
@media (max-width: 600px){
   nav{
        background: black;
        flex-direction: column;
   }
   .nav-button{
    display: inline-block;
   }

}