.nav-enlace{
    display: inline-block;
    background: #FFB100;
    color: seashell;
    padding: 10px;
    text-decoration: none; 
}
.nav-enlace:hover{
    background: #F0ECCF
}
nav{
    background: #FD8A8A;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}
.nav-button{
    background: #FFB100;
    color: seashell;
    padding: 10px 0px;
    border: 2px solid #fff;
    display: none;
  
}
@media (max-width: 600px){
   nav{
        background: black;
        flex-direction: column;
   }
   .nav-button{
    display: inline-block;
   }
   .nav-enlace{
    margin: 5px 0;
   }
   .nav-button{
    margin: 5px 0;
   }
   .desaparece{ 
    display: none;
   }
}