h1{
    background: red;
    margin: 50px;
    /* Para el caso de los margenes, pueden darse todos juntos o por separado. Si lo haces todos juntos. Se aplica los cambios en sentido del reloj, Arriba, derecha, abajo e izquierda. En ese orden.*/
    /* margin: 10px 20px 50px 15px; */ 
    /* El caso de arriba se da el ejemplo de poner todos juntos. Si no puede hacer de a 2. El primer numero seria para arriba y abajo y el segundo numero para los extremos */
    /* margin: 50px 20px; */

}
p{
    background: brown;
    padding: 500px;
    /* para el caso del padding es como los margenes. Tienen las mimsmas convinaciones. Modificar el padding manualmente, es decir uno por uno. 2 a la vez o todos juntos de una. como en los margenes.  */
}